@charset "UTF-8";

body{
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: darkblue;
    background-color: rgb(7, 247, 127);
}
h2{
    color: rgb(7, 247, 127);

}

p{
    text-align: justify;
    color: rgb(132, 206, 144);
}
a{
    color: rgb(196, 18, 166);
}