@charset "UTF-8";
@import url();

body{
    font-family: 'Work Sans', Arial, Helvetica;
    text-align: justify;
    
    /*Medidas absolutas
    cm, mm, in(polegada), px(pixel), pt(ponto), pc(paica)

    Medidas relativas
    em, ex, rem, vw, vh, % 
    16px geralmente = 1 em*/ 
    
    font-size: 16px;
    
    font-weight: normal;
    /* lighter normal bold bolder*/
    font-style: normal;
}

h1{
    
    /* font-family: 'Work Sans', Arial, Helvetica;
    font-weight: bolder;
    font-size: 3em;
    font-style: italic; */
    
    /*shorthand font
        font-style -> font-weight -> font-size -> font-family
    */
    font: italic bolder 3em 'Work Sans', Arial, Helvetica;
}

h2{
    font: italic bolder 2em 'Work Sans', Arial, Helvetica;
}
